.about {
  background: url(../img/bg/about-bg.jpg) center 0 no-repeat fixed #fff;background-size: 100% auto;
  header {position: relative;}
  @include bp(max-width, 640px){
    .content_wrapper {padding-left: 15px;padding-right: 15px;}
  }
}
.about-head {
  padding: 80px 0 0 0;text-align: center;height: 370px;
  h1 {
    font-weight: bold;font-family: $f-exo;color: #eadccb;margin: 0 0 40px;position: relative;font-size: 70px;line-height: 1;
    &:after {
      content: "";position: absolute;width: 70px;height: 2px;background: $orange;left: 50%;margin-left: -35px;bottom: -20px;
    }
  }
  .subheading {font-size: 18px;line-height: 30px;color: #fff;max-width: 780px;margin: 0 auto}
  @include bp(max-width, 768px){
    padding: 0;height: auto;
    .subheading {display: none;}
    h1 {
      font-size: 24px;
      &:after {display: none;}
    }
  }
}

.about_page {
  .content {
    @include bp(max-width, 768px){
      padding: 40px 16px 0;
    }
  }
}