*, *:after, *:before {
  @include box-sizing(border-box);
}

body {font-family: $f-proxima;font-size: 16px;overflow-x: hidden;}
#footer {border-top: 1px solid #efefef;padding-top: 40px;}

a {transition: all 0.2s ease-in-out;}

.auth_wrapper {
  height: 100%;right: -280px;width: 280px;background: #f6f7f7;transition: right 0.3s ease-in-out;position: absolute;top: 0;z-index: 11;padding-right: 40px;padding-left: 20px;padding-top: 50px;
  @include bp(max-width, 768px){
    width: 100%;right: -100%;
  }
  &.show {right: 0;}
  .close {
    position: absolute;right: 40px;top: 40px;width: 38px;height: 38px;
    &:after {
      content: "";position: absolute;@include retina-sprite(close-ico);left: 50%;top: 50%;margin-left: -10px;margin-top: -10px;transition: all 0.3s ease-in-out;
    }
    &:hover:after {
      @include rotate(180deg);
    }
  }
  .auth_title {
    font-size: 24px;color: #222;margin-bottom: 40px;
  }
  .auth_form {
    margin-bottom: 25px;
    @include bp(max-width, 768px){
      max-width: 260px;margin: 0 auto;
    }
    .auth_input {
      background: #e8e9e9;border: none;width: 220px;height: 33px;font-weight: 300;padding-left: 10px;margin-bottom: 30px;border: 3px solid #e8e9e9;font-size: 14px;
      &:focus, &:hover {border-color: #ccc;}
    }
  }
  .btn-set {
    overflow: hidden;padding-bottom: 20px;border-bottom: 1px solid #e8e9e9;max-width: 260px;
    .auth_forgot_pass {
      float: right;color: #3081f7;font-weight: 300;font-size: 14px;
      &:hover {color: $orange;}
    }
    .auth-btn {
      color: #fff;font-size: 16px;width: 80px;height: 33px;line-height: 33px;border: none;padding: 0;margin-right: 13px;background: $orange;transition: all 0.2s ease-in-out;
      &:hover {background: #2b2b2b;}
    }
    .auth_remember {
      color: #2b2b2b;font-size: 14px;font-weight: 300;
      input {position: relative;top: 2px;}
    }
  }
  .reg_block {
    text-align: center;font-weight: 300;color: #9e9e9e;font-size: 13px;line-height: 18px;
    p {margin-bottom: 15px;}
    .reg_btn {
      display: inline-block;width: 220px;height: 33px;line-height: 33px;font-weight: bold;font-size: 16px;background: $orange;text-decoration: none;color: #fff;position: absolute;bottom: 20px;left: 50%;margin-left: -110px;
      &:hover {background: #2b2b2b;}
    }
  }
}
.auth-overlay {position: absolute;left: 0;top: 0;width: 100%;height: 100%;z-index: 2;opacity: 0.1;background: #fff;display: none;}
.lang-switcher {
  position: absolute;right: 85px;top: 40px;
  a {
    display: inline-block;height: 38px;line-height: 38px;opacity: 0.5;font-size: 15px;color: #fff;width: 38px;text-align: center;
    &:hover {opacity: 1;}
  }
}
.top-menu-wrapper {
  transition: top 0.4s ease-in-out;  
  @include bp(max-width, 1024px){
    left: 0;right: 0;top: -100%;width: 100%;position: fixed;z-index: 10;background: #fff;text-align: center;height: 0;overflow: hidden;height: 100%;
    &.show {padding-top: 100px;top: 0%;}
    .lang-switcher {
      position: static;display: block;text-align: center;margin-bottom: 15px;
      a {
        color: #333;opacity: 1;text-decoration: none;position: relative;
        &:after {content: "";position: absolute;left: -13px;top: 50%;margin-top: -8px;@include retina-sprite(earth-ico);}
      }
    }
    .nav {
      padding: 0;float: none;margin-bottom: 12px;
      li {
        display: block;float: none;text-align: center;margin: 0;
        a {
          color: #333;
          &:hover {color: $orange;}
        }
      }
    }
    .login {
      text-indent: 0;position: static;width: auto;height: auto;text-decoration: none;color: #333;opacity: 1;
      &:hover {color: $orange;}
      &:after {display: none;}
    }
  }
}
.togle-menu {
  display: none;position: fixed;z-index: 11;width: 36px;height: 36px;border-radius: 50%;right: 40px;top: 40px;background: #fff;

  &:after, &:before {
    content: "";position: absolute;width: 18px;height: 2px;background: #000;left: 50%;margin-left: -9px;
  }
  &:after {top: 13px;}
  &:before {top: 21px;}
  @include bp(max-width, 1024px){
    display: block;cursor: pointer;
    &.active {
      transform: rotate(45deg);
      &:after, &:before {
        background: #000;
      }
      &:after {width: 2px;height: 18px;top: 50%;margin-top: -9px;margin-left: -1px;}
      &:before {width: 18px;height: 2px;top: 50%;margin-top: -1px;margin-left: -9px;}
    }
  }
  @include bp(max-width, 380px){
    right: 15px;
  }
}
header {height: 100px;z-index: 2;}
.logo {
  margin: 45px 0 0 40px;float: left;
  @include bp(max-width, 767px){
    img {opacity: 0;transition: opacity 0.2s ease-in-out, transform 0.3s ease-in-out;transition-delay: 0.4s;visibility: hidden;transform: translateY(-100px);}
    @include retina-sprite(mobile-logo);
    &.active {
      margin: 40px 0 0 0;position: fixed;left: 0;right: 0;top: 0;width: 100%;text-align: center;background: none;z-index: 11;opacity: 1;
      img {opacity: 1;visibility: visible;transform: translateY(0);}
    }
  }
  @include bp(max-width, 380px){
    &.active {
      img {position: relative;left: -10px;}
    }
  }
}
.login {
  position: absolute;right: 40px;top: 40px;text-indent: -9999px;overflow: hidden;width: 38px;height: 38px;opacity: 0.5;
  &:hover {
    opacity: 1;
  }
  &:after {
    content: "";
    position: absolute;top: 50%;left: 50%;margin-left: -10px;margin-top: -8px;@include retina-sprite(login-ico);
    .catalog & {@include retina-sprite(login-black);}
  }
}
.nav {
  float: right;padding-right: 170px;padding-top: 40px;
  li {
    margin-left: 46px;position: relative;display: inline-block;
    &:first-child {margin-left: 0;}
    &.active {
      &> a {border-color: #fff}
      .catalog & > a {border-color: #5d5d5d}
    }
    &:hover {
      .submenu {display: block;}
      @include bp(max-width, 1024px){
        .submenu {display: none;}
      }
    }
  }
  a {
    color: #fff;text-decoration: none;font-size: 15px;height: 38px;line-height: 34px;display: inline-block;padding: 0 12px;border: 2px solid transparent;
    &:hover {
      color: $orange;
    }
  }
  .submenu {
    display: none;position: absolute;border: 2px solid $orange;padding: 5px 0;
    a {height: auto;line-height: 1;display: block;}
    li {margin: 0;padding: 4px 0;display: block;}
  }
}

#footer {
  background: #fff;
  padding: 40px 40px 0 40px;position: relative;
  .f-social {
    float: right;width: 220px;
    @include bp(max-width, 1024px){
      float: none;margin: 0 auto 15px;text-align: center;
    }
    a {
      display: inline-block;margin-right: 10px;opacity: 0.5;
      &:hover {opacity: 1;}
    }
    a.fb {@include retina-sprite(fb-ico);}
    a.tw {@include retina-sprite(twitter-logo);}
    a.gplus {@include retina-sprite(google-ico);}
  }
  .f-left {
    float: left;
    p {color: #adadad;font-size: 14px;line-height: 25px;}
    @include bp(max-width, 1024px){
      float: none;text-align: center;
      p {font-size: 15px;}
    }
  }
  .f-logo {
    margin-bottom: 25px;margin-top: 3px;
    @include bp(max-width, 1024px){
      display: none;
    }
  }
  .f-right {
    float: right;width: 480px;
    @include bp(max-width, 1060px){
      display: none;
    }
    .f-contact {
      float: left;width: 50%;color: #adadad;font-size: 14px;line-height: 25px;
      .f-contact__title {font-weight: bold;font-size: 24px;text-transform: uppercase;margin-bottom: 23px;color: #333;}
    }
  }
  .f-bottom {
    clear: both;padding-top: 15px;
    @include pie-clearfix;
    .copy {float: left;font-size: 12px;color: #adadad;}
    @include bp(max-width, 1024px){
      .copy {float: none;margin: 0 auto 15px;text-align: center;text-transform: uppercase;}
    }
  }
  .developer {
    position: absolute;right: 40px;bottom: 30px;
    @include bp(max-width, 1024px){
      display: none;
    }
    a {
      display: inline-block;@include retina-sprite(dev-logo);opacity: 0.5;
      &:hover {opacity: 1;transform: rotateY(180deg);}
    }
  }
}

#contacts {

  background: #36404f;background-size: 100% auto;position: fixed;left: 0;top: 0;right: 0;bottom: 0;z-index: 10;transition: all 0.5s ease-in-out;transform: translateY(-100%);padding-left: 40px;
  .contacts_map {
    position: absolute;left: 0;top: 0;width: 100%;height: 100%;overflow: hidden;
    svg {
      position: absolute;right: 0;width: 100%;height: 100%;
      path {opacity: 0.5;}
      .checkpoint {
        path {opacity: 1}
      }
    }
  }
  &.show {
    transform: translateY(0);
  }
  .close {
    position: absolute;right: 200px;top: 50px;width: 35px;height: 35px;cursor: pointer;
    &:after {content: "";position: absolute;left: 50%;top: 50%;margin-left: -15px;margin-top: -15px;@include retina-sprite(close-white);transition: all 0.3s ease-in-out;}
    &:hover:after {
      @include rotate(180deg);
    }
  }
  h1 {font-weight: bold;color: #eadccb;font-size: 60px;}
  .contacts-info-block {
    color: #fff;font-size: 15px;line-height: 24px;font-weight: 300;z-index: 1;position: absolute;display: none;
    h2 {font-weight: bold;font-size: 24px;color: #eadccb;line-height: 1;margin-bottom: 8px;}
    &.contacts-au {bottom: 60px;left: 40px;}
    &.contacts-ru {top: 45%;left: 50%;}
  }
  .contacts-data {
    padding-top: 24px;
    span {
      display: block;padding-left: 30px;font-weight: 300;font-size: 15px;position: relative;height: 16px;line-height: 16px;margin-bottom: 9px;
      &.phone:after {content:"";position: absolute;left: 0;top: 0;@include retina-sprite(phone-ico)}
      &.mail:after {content:"";position: absolute;left: 0;top: 2px;@include retina-sprite(mail-ico);}
      &.mail {
        a {
          color: #3081f7;
          &:hover {color: $orange;}
        }
      }
    }
  }
}

.news-list {
  li {float: left;width: 33.3%;padding-right: 30px;}
  .news-item {
    margin-bottom: 50px;
  }
}
.news-img {margin-bottom: 20px;}
.news-text {font-weight: 300;font-size: 13px;line-height: 21px;margin-bottom: 10px;}
.news-date {color: #b7b7b7;font-size: 13px;margin-bottom: 12px;}
.news-link a{
  color: #6d9adc;font-size: 14px;line-height: 21px;border-bottom: 1px solid #e0e8f7;text-decoration: none;
  &:hover {color: $orange;border-color: $orange;}
}

.container {max-width: 960px;margin: 0 auto;clear: both;}
.content_left, .content {padding-top: 40px;}
.content_left {float: left;width: 170px;}
.content {
  overflow: hidden;
  a {
    color: #3081f7;
    &:hover {color: $orange;}
  }
  .c-img {
    float: left;margin-right: 20px;margin-bottom: 15px;
    & ~ p {overflow: hidden;}
  }
}
.content_wrapper {background: #fff;padding-bottom: 90px;}

.sidenav {
  li {line-height: 33px;}
  .active {
    
    a {color: #333;border-color: #333333;}
  }
  a {
    display: inline-block;text-decoration: none;color: #8b8b8b;font-size: 15px;padding: 0 10px;height: 27px;line-height: 23px;border: 2px solid transparent;
    &:hover {color: #333;}
  }
}
@mixin conten-list{
  ul {
    padding-left: 35px;margin-bottom: 35px;
    li {
      padding-left: 20px;color: #888;font-size: 15px;margin-top: 15px;position: relative;
      &:after {content: "";position: absolute;left: 0;top: 3px;width: 9px;height: 9px;border-radius: 50%;border: 3px solid $orange;}
      &:first-child {margin-top: 0;}
    }
  }
}
.content {
  p {color: #333;font-size: 15px;line-height: 24px;margin-bottom: 20px;}
  @include conten-list;
}