.news {
  background: url(../img/bg/news-bg.jpg) center 0 no-repeat fixed #fff;background-size: 100% auto;
  header {position: static;}
  .nav {
    .active {
      & > a {border-color: #fff;}
    }
  }
}

.content {
  .news-list {
    padding: 0;margin: 0;
    li {
      padding: 0;margin-top: 0;margin-bottom: 55px;display: inline-block;float: none;vertical-align: top;padding-right: 30px;width: 32%;
      &:after {display: none;}
      @include bp(max-width, 640px){
        width: 49%;padding: 0 10px;
      }
      @include bp(max-width, 640px){
        width: 100%;padding: 0;
      }
    }
  }
  a.back {color: $orange;}
}