.reg {
  header {border-bottom: 1px solid #f1f1f1;padding-bottom: 10px;}
  .nav, .lang-switcher {
    a {color: #222;}
  }
}
.registration {
  max-width: 940px;margin: 0 auto;overflow: hidden;padding-top: 40px;
  h1 {font-weight: 600;color: #222;font-size: 48px;line-height: 1;margin: 0;font-family: $f-exo;}
  .already-reg {
    float: right;color: #bcbcbc;font-size: 16px;font-weight: 300;margin-top: -22px;
    a {text-decoration: none;border-bottom: 1px dashed #eb8501;color: #eb8501;display: inline-block}
  }
}

.reg-form {overflow: hidden;padding-top: 55px;padding-bottom: 90px;}
.reg-form_left {
  float: left;width: 240px;padding-right: 35px;
  p {font-size: 16px;font-weight: 300;line-height: 24px;color: #bcbcbc;margin-bottom: 25px;}
}
.reg-form_right {overflow: hidden;}
.form-col {
  width: 300px;float: left;
  & + .form-col {float: right;}
}
.f-row {
  margin-bottom: 30px;
  label {font-weight: 600;font-size: 16px;color: #666;display: block;margin-bottom: 5px}
  .reg-input, .reg-textarea {
    background: #eaecec;border: 3px solid transparent;width: 300px;padding-left: 10px;font-weight: 600;font-size: 16px;
    &:focus {border-color: #cccccc}
    &.error {border-color: $orange;}
  }
  .reg-textarea {height: 100px;padding-top: 5px;}
}
.reg-subscribe {
  clear: both;margin-bottom: 40px;
  label {
    font-size: 12px;line-height: 18px;color: #bcbcbc;padding-left: 30px;position: relative;display: inline-block;
    input {position: absolute;left: 0;top: 4px;}
  }
}
.reg-btn {
  button {width: 300px;background: $orange;color: #fff;border: none;font-weight: 600;text-align: center;height: 34px;}
}