@include sticky-footer(270px, "#root", "#root_footer", "#footer");

@font-face {
  font-family: 'proxima';
  src: url('../fonts/Proxima_Nova_Regular.otf');
  src: local('?'), url('../fonts/Proxima_Nova_Regular.woff') format('woff'), url('../fonts/Proxima_Nova_Regular.ttf') format('truetype'), url('../fonts/Proxima_Nova_Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima';
  src: url('../fonts/Proxima_Nova_Light.otf');
  src: local('?'), url('../fonts/Proxima_Nova_Light.woff') format('woff'), url('../fonts/Proxima_Nova_Light.ttf') format('truetype'), url('../fonts/Proxima_Nova_Light.svg') format('svg');
  font-weight: 300;
  font-style: normal;
}

$f-anonim: 'Anonymous Pro', Arial, sans-serif;
$f-exo: 'Exo 2', sans-serif;
$f-proxima: 'proxima', sans-serif;

$orange: #eb8500;

$icons-sprite-dimensions: true;
$icons-layout: smart;
$icons-spacing: 5px;
@import "icons/*.png";

$sprites: sprite-map("icons/*.png");            // import 1x sprites
$sprites2x: sprite-map("icons2x/*.png");   // import 2x sprites